<header>
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
    <div class="wrapper">
        <h1>{{ site.title }}</h1>
        <button class="menu-toggle" id="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav id="nav-menu">
          <a href="/O-Novo-Alhandrense/index.html">Sobre</a>
          <a href="/O-Novo-Alhandrense/Pinturas.html">Pinturas</a>
          <a href="/O-Novo-Alhandrense/Esbocos.html">Esbocos</a>
      </nav>
    </div>
</header>

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const navMenu = document.getElementById('nav-menu');
  const navLinks = navMenu.querySelectorAll('a');

  menuToggle.addEventListener('click', function() {
    navMenu.classList.toggle('open');
  });

  navLinks.forEach(link => {
    link.addEventListener('click', function() {
      navMenu.classList.remove('open');
    });
  });
</script>
