---
---
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header .wrapper h1 {
  margin-right: auto;
}

footer .wrapper {
  text-align: right;
}

header .wrapper nav {
  display: flex;
  gap: 1rem;
}

header .wrapper nav a {
  padding-left: 1rem;
  border-left: 1px solid #000;
}

header .wrapper nav a:first-child {
  border-left: none;
}

